
<div class="row">
<%= render partial: 'partials/wholesaler_profile_nav' %>

  <div class="col s12 m9 offset-m2 center-align">
    <% @best_sellers.each do |product| %>
      <h5><%= product.title %>: <%= number_to_currency(product.current_sales) %></h5>
    <% end %>
  </div>

</div>
