<div class="row">

<%= render partial: 'partials/wholesaler_profile_nav' %>
<!-- <div class="container"> -->
<div class="col s12 m8 offset-m3">

  <% if !@products.empty? %>
    <div id ="products">
      <%= render partial: 'partials/products' %>
    </div>
    <%= will_paginate @products %>
  <% else %>
    <div class="center-align">
      <h6>No active sales, let's list some new products!</h6>
      <a class='btn' href="/wholesaler/profile">Sell</a>
    </div>
  <% end %>


  </div>
</div>

<script>
$(document).ready(function(){
infiniteScroll()
})

function infiniteScroll(){
if($('.pagination').length){
  // console.log('pagination present...');
  $(window).scroll(function(){
    var url = $('.pagination .next_page').attr('href')
    if(url && $(window).scrollTop() > $(document).height() - $(window).height() - 10) {
      $('.pagination').text("Loading...")
      // console.log('getting?');
      $.getScript(url)
    }
  })
}
}
</script>
