<div class="row">
<%= render partial: 'partials/wholesaler_profile_nav' %>

  <div class="col s12 m8 offset-m3">

    <div id ="products" class="row" style='margin-top: 20px'>
      <%= render partial: 'partials/products' %>
    </div>

    <%= will_paginate @products %>

  </div>
</div>

<script>
$(document).ready(function(){
infiniteScroll()
})

function infiniteScroll(){
  if($('.pagination').length){
    // console.log('pagination present...');
    $(window).scroll(function(){
      var url = $('.pagination .next_page').attr('href')
      if(url && $(window).scrollTop() > $(document).height() - $(window).height() - 10) {
        $('.pagination').text("Loading...")
        // console.log('getting?');
        $.getScript(url)
      }
    })
  }
}
</script>
