
<div class="col s1" style="position: absolute; margin-top: 20px; margin-left: 20px">
  <a href="/users">
    <img src="/images/bluebird-white-text.png" class='responsive-img' style="width: 20%" />
  </a>
</div>

<div class="row no-overflow">
  <div class="apply-body bluebird white-text center-align col s12 valign-wrapper" style='height: 60vh'>

    <div class="valign col s12">
      <div class="row col s8 offset-s2">
        <form method="post">
        <%= form_tag do %>
          <div class="input-field">
            <label>Company Name</label>
            <input type="text" name="company[company_name]">
          </div>
          <div class="input-field">
            <label>Location</label>
            <input type="text" name="company[location]">
          </div>
          <div class="input-field">
            <label>Website</label>
            <input type="text" name="company[website]">
          </div>
          <div class="input-field">
            <label>Bio</label>
            <input type="text" name="company[bio]">
          </div>
          <%= submit_tag "NEXT", :class => 'white black-text btn' %>
        <% end %>
      </div>
      <div class="col s12">
        <h6>Retailer?</h6>
        <a href="/signup/step1" class='btn-flat white-text waves-effect'>Sign Up Here</a>
      </div>
    </div>

  </div>

  <div class="apply-body col s12 hidden-on-small-only valign-wrapper" style='max-height: 40vh'>
    <div class="col s8 offset-s2 valign center-align">
      <div class="row">
        <h5>Beat out competitors by constantly generating new sales.</h5>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <img src="/images/rocket.jpg" class='responsive-img circle'/>
        </div>
      </div>
    </div>
  </div>

</div>
