<div class="row col s12" style='position: fixed; top: 5px'>
  <div class="col s4 white-text center-align">
    <a href="/users">
      <img src="/images/bluebird-white-text.png" class='responsive-img' style='width: 80%' />
    </a>
      <h6 class='white-text'>Retailer?</h6>
      <a href="/signup/step1" class='btn-flat white-text waves-effect'>Sign Up Here</a>
  </div>
</div>

<div class="row no-overflow">
  <div class="apply-body bluebird white-text center-align col s12 valign-wrapper" style='height: 60vh'>

    <div class="valign col s12">
      <div class="row col s8 offset-s2">
        <form method="post">
        <%= form_tag do %>
          <div class="input-field">
            <label>Company Name</label>
            <input type="text" name="company[company_name]">
          </div>
          <div class="input-field">
            <label>Location</label>
            <input type="text" name="company[location]">
          </div>
          <div class="input-field">
            <label>Website</label>
            <input type="text" name="company[website]">
          </div>
          <div class="input-field">
            <label>Bio</label>
            <input type="text" name="company[bio]">
          </div>
          <%= submit_tag "NEXT", :class => 'white black-text btn' %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="apply-body col s12 hidden-on-small-only valign-wrapper" style='max-height: 40vh'>
    <div class="col s8 offset-s2 valign center-align">
      <div class="row">
        <h4>Wholesalers</h4>
        <h5>Beat out competitors by constantly generating new sales.</h5>
      </div>
      <div class="row">
        <div class="col s4 offset-s4 l2 offset-l5">
          <img src="/images/rocket.jpg" class='responsive-img circle'/>
        </div>
      </div>
    </div>
  </div>

</div>
