
<div class="col m2">
  <div class="profile-nav">
    <ul>
      <%
        items = {
          'Pending Wholesalers' => '/admin/wholesalers',
          'Sell' => '/new_product',
          'Pending Retailers' => '/admin/retailers',
          'Featured Products' => '/admin/features',
          'Unshipped Orders' => '/admin/unshipped',
          'Logout' => '/logout'
        }
        items.each do |name, url|
          liclass = request.fullpath.start_with?(url) ? 'active-nav-link' : 'black-text'
      %>
        <li><a class="<%= liclass %>" href="<%= url %>"><%= name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
