<div class="navigation row no-margin z-depth-1" style="padding-top: 10px; padding-bottom: 10px">
  <div class="col s12 valign-wrapper">
    <div class="col s12 m2">
      <a href="/shop">
        <img src="/images/bluebird-blue-text.png" alt="" class="responsive-img"/>
      </a>
    </div>
    <div class="col s7 valign">
      <h6>
        <%
          items = {
            'DISCOVER' => '/discover',
            'ACCESSORIES' => '/accessories',
            'HOME GOODS' => '/home_goods',
            'APPAREL' => '/apparel',
            'TECH' => '/tech'
          }
          items.each do |name, url|
            link_class = request.fullpath.start_with?(url) ? 'active-nav-link' : 'black-text'
        %>
          <div style="display: inline-block">
            <span class="nav-category"><a class="<%= link_class %>" href="<%= url %>"><%= name %></a></span>
          </div>
        <% end %>
      </h6>
      </div>
    <% if current_user.is_retailer? %>
      <a class="nav-category black-text valign" href="/retailer/pending_orders">
        <h6>Account</h6>
      </a>
    <% elsif current_user.is_wholesaler? %>
      <h6>
        <a class="nav-category black-text valign" href="/wholesaler/profile">
          Account
        </a>
      </h6>
    <% elsif current_user.is_admin? %>
      <h6>
        <a class='nav-category black-text valign' href="/admin">
          Account
        </a>
      </h6>
    <% end %>
    <div class="col m2 hidden-sm valign">
      <form>
        <input type="text" name="query" placeholder="Search" class="no-margin">
      </form>
    </div>
  </div>
</div>
