<div class="hide-on-small-only col m2">
  <div class="profile-nav">
    <ul>
      <%
        items = {
          'Pending Orders' => '/retailer/pending_orders',
          'Order History' => '/retailer/order_history',
          'Last Chance' => '/retailer/last_chance',
          'Manage Payments' => '/retailer/accounts',
          'Shipping Addresses' => '/retailer/shipping_addresses',
          'Settings' => '/retailer/settings',
          'Logout' => '/logout'
        }
        items.each do |name, url|
          liclass = request.fullpath.start_with?(url) ? 'active-nav-link' : 'black-text'
      %>
        <li><a class="<%= liclass %>" href="<%= url %>"><%= name %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  // if(<#%= current_user.retailer.needs_credit_card? %>){
  //   $('a[href="/retailer/accounts"]').attr('class', 'red-text')
  // }
  // if(<#%= current_user.retailer.needs_shipping_info? %>){
  //   $('a[href="/retailer/shipping_addresses"]').attr('class', 'red-text')
  // }
</script>
