<div class="navigation row no-margin z-depth-2" style="padding-top: 10px; padding-bottom: 10px">
  <div class="col s12 valign-wrapper">
    <div class="col s12 m2">
      <a href="/users">
        <img src="/images/bluebird-blue-text.png" alt="" class="responsive-img"/>
      </a>
    </div>
    <div class="col s7 left-align valign">
      <a href="/why_bluebird" class="link" style="padding: 10px">Why BlueBird?</a>
      <a href="/faq" class="link" style="padding: 10px">FAQ</a>
    </div>
    <div class="col s3 right-align valign">
      <a href="/signup" class="link" style="padding: 20px">Sign Up</a>
      <a href="/users" class="link" style="padding: 20px">Login</a>
    </div>
  </div>
</div>
