<div class="navigation row no-margin z-depth-2" style="padding-top: 10px; padding-bottom: 10px">
  <div class="col s12 valign-wrapper">
    <div class="col s4 m2 no-margin" style="margin: 0px">
      <a href="/users">
        <img src="/images/bluebird-blue-text.png" alt="" class="responsive-img"/>
      </a>
    </div>
    <div class="col s8 right-align valign">
      <a class="black-text" href="/apply/step1">
        <div class='nav-category-div' style="display: inline-block">
          <span class="nav-category bold">Sell on BlueBird</span>
        </div>
      </a>
      <a class="black-text" href="/signup/step1">
        <div class='nav-category-div' style="display: inline-block">
          <span class="nav-category bold">Buy on BlueBird</span>
        </div>
      </a>
      <a class="black-text" href="/users">
        <div class='nav-category-div' style="display: inline-block">
          <span class="nav-category bold">Login</span>
        </div>
      </a>
    </div>
  </div>
</div>
