<div class="col m2">
  <div class="profile-nav">
    <ul>
      <li><a href="/wholesaler">Profile</a></li>
      <li><a href="/current_sales">Current Sales</a></li>
      <li><a href="/past_products">Past Products</a></li>
      <li><a href="http://Stripe.com/dashboard">Manage Bank Account</a></li>
      <li><a href="/current_sales">Current Sales</a></li>
      <li><a href="/analytics">Analytics</a></li>
      <li><a href="/settings/wholesaler">Settings</a></li>
    </ul>
  </div>
</div>
