<div class="col m2 hide-on-small-only">
  <div class="profile-nav">
    <ul>
      <%
        items = {
          'Profile' => '/wholesaler/profile',
          'Sell' => '/new_product',
          'Company Info' => '/wholesaler/company',
          'Current Sales' => '/current_sales',
          'Past Products' => '/past_products',
          # 'Analytics' => '/analytics',
          'Account Settings' => '/wholesaler/settings',
          'Contact BlueBird' => '/contact'
        }
        items.each do |name, url|
          liclass = request.fullpath.start_with?(url) ? 'active-nav-link' : 'black-text'
      %>
        <li><a class="<%=liclass %>" href="<%= url %>"><%= name %></a></li>
      <% end %>
      <li><a class="black-text" href="http://Stripe.com/dashboard" target="_blank">Manage Bank Account</a></li>
      <li><a class="black-text" href="/logout">Logout</a></li>
    </ul>
  </div>
</div>
