<%= render partial: 'partials/signed_out_nav' %>

<div class="section">
  <p>
    1) A wholesaler lists their product for sale with a sales goal, a duration of the listing, and a discounted price.
  </p>
  <p>
    2) Retailers make purchase orders on the discounted product.
  </p>
  <p>
    3) If the sales goal is reached by the end of the duration, the product is shipped for the discounted price.
  </p>
  <p>
    4) If the sales goal was not hit, the wholesaler can either:
  </p>
  <p>
    - Grant the discount anyway.
    - Extend the duration another 10 days.
    - End the sale, giving the retailer the option to buy for full price.
  </p>
</div>
