<div class="row">
  <%= render partial: 'partials/signed_out_nav' %>
</div>

<div class="row">

  <div class="section">
    <div class="col s12 valign-wrapper" style='margin-bottom: 20vh'>
      <div class="col s12 m5 center-align">
        <h3 style='color: white; background: black; border-radius: 50%; width: 2em; text-align: center; margin-left: 40%'>
          1
        </h3>
        <h4>
          A wholesaler lists their product for sale with a sales goal, a duration of the listing, and a discounted price.
        </h4>
      </div>
      <div class="col s12 m7">
        <img src="/images/new-product-screen.png" class='responsive-img' />
      </div>
    </div>
    <div class="col s12 valign-wrapper" style='margin-bottom: 20vh'>
      <div class="col s12 m7">
        <img src="/images/purchase-screen.png" class='responsive-img' />
      </div>
      <div class="col s12 m5 center-align">
        <h3 style='color: white; background: black; border-radius: 50%; width: 2em; text-align: center; margin-left: 40%'>
          2
        </h3>
        <h4>
          Retailers make purchase orders on the discounted product.
        </h4>
      </div>
    </div>

    <div class="col s12 valign-wrapper" style='margin-bottom: 20vh'>
      <div class="col s12 m5 center-align">
        <h3 style='color: white; background: black; border-radius: 50%; width: 2em; text-align: center; margin-left: 40%'>
          3
        </h3>
        <h4>
          If the sales goal is reached by the end of the duration, the product is shipped for the discounted price.
        </h4>
      </div>
      <div class="col s12 m7">
        <img src="/images/discounted-screen.png" class='responsive-img' />
      </div>
    </div>

    <div class="col s12 valign-wrapper" style='margin-bottom: 20vh'>
      <div class="col s12 m7">
        <img src="/images/your-decision-screen.png" class='responsive-img' />
      </div>
      <div class="col s12 m5 center-align">
        <h3 style='color: white; background: black; border-radius: 50%; width: 2em; text-align: center; margin-left: 40%'>
          4
        </h3>
        <h4>
          If the sales goal was not hit, the wholesaler can either:
        </h4>
        <h6>
          - Grant the discount anyway.
        <h6/>
        <h6>
          - Extend the duration another 10 days.
        <h6/>
        <h6>
          - End the sale.
        <h6/>
      </div>
    </div>
  </div>

</div>
<!--
<div class="section">
  <p>
    1) A wholesaler lists their product for sale with a sales goal, a duration of the listing, and a discounted price.
  </p>
  <p>
    2) Retailers make purchase orders on the discounted product.
  </p>
  <p>
    3) If the sales goal is reached by the end of the duration, the product is shipped for the discounted price.
  </p>
  <p>
    4) If the sales goal was not hit, the wholesaler can either:
  </p>
  <p>
    - Grant the discount anyway.
    - Extend the duration another 10 days.
    - End the sale, giving the retailer the option to buy for full price.
  </p>
</div> -->
