<%= render partial: 'partials/signed_out_nav' %>

<div class="center-align row">
  <div class="row">
    <h4>About BlueBird.club</h4>
  </div>
  <div class="row">
    <p>
      When the BlueBird team launched, we had one goal in site: <br>
      <strong>Revolutionize the retail/wholesale process, from beginning to end.</strong>
    </p>
  </div>
</div>
