<div class="center-align row">
  <div class="row">
    <form class="forgot-password-form col s6 offset-s3">
      <div class="input-field">
        <label>Email</label>
        <input type="text" class="email">
      </div>
      <input type="submit" value="Send Email" class='btn'>
    </form>
  </div>
  <div class="row">
    <h4 id="message"></h4>
  </div>
</div>

<script>
  $('.forgot-password-form').submit(function(e){
    e.preventDefault()
    var email = $('.email').val()
    $.ajax({
      method: 'POST',
      url: '/api/send_password_reset?email=' + email,
      success: function(data){
        console.log(data);
        $('.email').val('')
        $('#message').text(data.message)
      }
    })
  })
</script>
