<%= render partial: 'partials/signed_out_nav' %>

<div class="center-align row">
  <div class="row col s12">
    <div class="col s8 offset-s2 order-box z-depth-2" style="padding: 25px; margin-top: 50px">
      <form class="forgot-password-form col s10 offset-s1">
        <div class="input-field">
          <label>Email</label>
          <input type="text" class="email">
        </div>
        <input type="submit" value="Send Email" class='btn'>
      </form>
    </div>
  </div>
  <div class="row col s12">
    <h4 id="message"></h4>
  </div>
</div>

<script>
  $('.forgot-password-form').submit(function(e){
    e.preventDefault()
    var email = $('.email').val()
    $.ajax({
      method: 'POST',
      url: '/api/users/send_password_reset?email=' + email,
      success: function(data){
        console.log(data);
        $('.email').val('')
        $('#message').text(data.message)
      }
    })
  })
</script>
