<%= render partial: 'partials/signed_out_nav' %>

<div id="login-body">
</div>

<div class="center-align login-content">
    <div class="row">
      <div class="col s12">
        <div class="col s10 m4 offset-s1 offset-m1 border center black-text z-depth-5" id='login-container'>
          <div class="card-content">
            <span class="card-title center-block" id='logo'><h4 style='display: inline-block'>Login</h4><img src="/images/bluebird-blue-mascot.png" style='width: 40px; height: 50px; bottom: -100px' /></span>
            <div class="row">
              <div class="input-field col s12" id='login-content' style="color:black">
                <form class="" action="/sessions" method="post">
                  <div class="input-field ">
                    <input type="text" name="email" placeholder="email">
                  </div>
                  <div class="input-field">
                    <input type="password" name="password" placeholder="password">
                  </div>
                  <input type="submit" value="Login" class="btn submit-button">
                </form>
                <a href="/forgot_password" class='btn-flat  waves-effect link'>Forgot Password</a>
              </div>
          </div>
            <p class = "error" style = "color: red"> <%= flash[:error] %> </p>
            <div class="card-action">
              <a class='btn' href="/signup">Signup!</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- </div> -->
