<div class="row">
  <%= render partial: '/partials/signed_out_nav' %>
</div>
<div class="container">
  <div class="row col s12 center-align">
    <h4>Thanks for applying, <%= params[:_user] %>!</h4>
    <h4>You will be hearing back from us within 24 hours.</h4>
  </div>
</div>
