
<%= render partial: 'partials/signed_out_nav' %>


<div class="col s12">

  <div id="first-div" class="section no-margin">
    <div class="parallax-div col s8" style='margin-top: 20vh'>
      <div class="row center-align">
        <img src="/images/bluebird-blue-text.png" class="responsive-img"/>
      </div>
      <div class="row bluebird-text center-align">
        <h5 class='bold bluebird-text'>A new marketplace for retailers and vendors, with the best deals on the web.</h5>
        <div class="col s2 offset-s5">
          <h6 class="explain" style="cursor: pointer"><img src="/images/down-icon.png" class='down-icon responsive-img'/></h6>
        </div>
        <div class="row">
          <div class="col s6 center-align">
            <a href="/users" class='circle-button'>Login</a>
          </div>
          <div class="col s6 center-align">
            <a href="/signup/step1" class='circle-button'>Signup</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 row no-margin">
    <div class="explained-div section-white center-align no-margin valign-wrapper">
      <div class="row">
        <div class="row">
          <h3>Why BlueBird.club?</h3>
        </div>
        <div class="col s10 offset-s1 row">
          <h5>BlueBird.club allows retailers to have the purchasing power of a much larger enterprise. </h5>
          <h5>Login and experience the opportunity to purchase at the next level.</h5>
        </div>
        <div class="row">
          <div class="col s2 offset-s5">
            <h5 class='how-it-works pointer'>Learn More</h5>
            <img src="/images/black-down-icon.png" class='down-icon responsive-img pointer how-it-works'/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-margin col s12 valign-wrapper">
    <div class="how-it-works-div section-blue center-align">
      <div class="row">
        <h1 class='bold'>How it Works</h1>
      </div>
      <div class="row col s10 offset-s1 left-align">
        <h5>1) A wholesaler lists their product for sale with a sales goal, a duration of the listing, and a discounted price.</h5>
        <h5>2) Retailers make purchase orders on the discounted product.</h5>
        <h5>3) If the sales goal is reached by the end of the duration, the product is shipped for the discounted price.</h5>
        <h5>4) If the sales goal was not hit, the wholesaler can either:</h5>
        <div class="col s11 offset-s1">
          <h6>- Grant the discount anyway.</h6>
          <h6>- Extend the duration another 10 days.</h6>
          <h6>- End the sale, giving the retailer the option to buy for full price.</h6>
        </div>
      </div>
      <div class="col s10 offset-s1 center-align">
        <div class="row">
          <a href="/choose" class="circle-button">Sign Up Today</a>
        </div>
        <div class="row center-align">
          <div class="col s2 offset-s5">
            <h6 class="learn-more" style="cursor: pointer"><img src="/images/down-icon.png" class='down-icon responsive-img'/></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin col s12">
    <div class="retailers-div section-white center-align col s12" style="padding-top: 15vh">
      <div class="row">
        <h1><strong>Retailers</strong></h1>
      </div>
      <div class="row col s10 offset-s1">
        <div class="row">
          <div class="col s12 m4 valign">
            <div class="row">
              <div class='white col s6 offset-s3' style='border-radius: 50%; padding: 0'>
                <img src="/images/piggy-bank.png" class='responsive-img' />
              </div>
            </div>
            <div style="margin: 5px; padding: 10px">
              <h5>Unparalled Prices.</h5>
              <h6>
                Everybody receives a discount. Guaranteed.
              </h6>
            </div>
          </div>
          <div class="col s12 m4 valign">
            <div class="row">
              <div class='white col s6 offset-s3' style='border-radius: 50%; padding: 0'>
                <img src="/images/many.png" class='responsive-img' />
              </div>
            </div>
            <div style="margin: 5px; padding: 10px">
              <h5>Access Thousands of Products all in one Place.</h5>
              <h6>
                One signin, unlimited products and vendors.
              </h6>
            </div>
          </div>
          <div class="col s12 m4 valign">
            <div class="row">
              <div class='white col s6 offset-s3' style='border-radius: 50%; padding: 0'>
                <img src="/images/cursor.png" class='responsive-img' />
              </div>
            </div>
            <div style="margin: 5px; padding: 10px">
              <h5>Automate Your Purchasing Power.</h5>
              <h6>
                Place a purchase order in one click.
              </h6>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <a href="/signup" class="circle-button">Sign Up Today</a>
    </div>
      <div class="col s2 offset-s5">
        <h6 class="wholesaler" style="cursor: pointer"><img src="/images/black-down-icon.png" class='down-icon responsive-img'/></h6>
      </div>
    </div>
  </div>

  <div class="row no-margin">
    <div class="wholesalers-div section-blue center-align col s12" style="padding-top: 15vh">
      <div class="row">
        <div class="col s12">
          <h1><strong>Wholesalers</strong></h1>
        </div>
      </div>
      <div class="row col s10 offset-s1">
        <div class="row">
          <div class="col s12 m4">
            <div class="row">
              <div class='white row col s6 offset-s3' style='border-radius: 50%; padding: 0'>
                <img src="/images/handing-money.png" class='responsive-img' />
              </div>
            </div>
            <div style='margin: 5px; padding: 10px'>
              <h5>Reach a New Market</h5>
              <h6>
                BlueBird will put your product in front of retailers who are ready to purchase.
              </h6>
            </div>
          </div>
          <div class="col s12 m4 valign">
            <div class="row">
              <div class='white row col s6 offset-s3' style='border-radius: 50%; padding: 0'>
                <img src="/images/no-phone.png" class='responsive-img' />
              </div>
            </div>
            <div style='margin: 5px; padding: 10px'>
              <h5>No More Tracking Down Payments</h5>
              <h6>
                You worry about perfecting your product,
                we'll put the money in your bank account.
              </h6>
            </div>
          </div>
          <div class="col s12 m4 valign">
            <div class="row">
              <div class='white row col s6 offset-s3' style='border-radius: 50%; padding: 0'>
                <img src="/images/sales-rep.png" class='responsive-img' />
              </div>
            </div>
            <div style='margin: 5px; padding: 10px'>
              <h5>Goodbye to sales reps.</h5>
              <h6>
                No more managing and paying expensive sales reps, let BlueBird handle it.
              </h6>
            </div>
          </div>
        </div>
      </div>
      <a href="/signup" class="circle-button">Sign Up Today</a>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){
    $(".button-collapse").sideNav();
  })

  $(window).scroll(function(){
    var scroll = $(window).scrollTop()
    // $('.parallax-div').css({
    //   marginTop: (-scroll/2) + 100
    // })
    if(scroll > 150) {
      $('.sticky-navigation').fadeIn()
    }
    if(scroll < 150) {
      $('.sticky-navigation').fadeOut()
    }
  })

  $('.explain').click(function(){
    animateScrollTo($('.explained-div'))
  })

  $('.how-it-works').click(function(){
    animateScrollTo($('.how-it-works-div'))
  })

  $('.wholesaler').click(function(){
    animateScrollTo($('.wholesalers-div'))
  })

  $('.learn-more').click(function(){
    animateScrollTo($('.retailers-div'))
  })

  function animateScrollTo(div) {
    $('html, body').animate({
      scrollTop: div.offset().top - 60
    }, 700)
  }
</script>
