<%= render partial: 'partials/signed_out_nav' %>

<div class="col s12">
  <div id="first-div" class="section">
    <div class="row no-margin">
      <div class="col s10 m6 offset-s1 offset-m3 parallax-div" style="margin-top: 75px">
        <div class="row">
          <img src="/images/bluebird-white-text.png" class="responsive-img"/>
        </div>
        <div class="row white-text center-align">
          <h5>Changing the wholesaler-to-retailer marketplace</h5>
          <h6 class="how-it-works" style="cursor: pointer">How...</h6>
        </div>
      </div>

      <!-- <div class="col s8 offset-s2 valign center-align">
        <img src="/images/main-bluebird.png" class="responsive-img"/>
        <h5 class="dark-bluebird-text"><stronger>The wholesaler-to-retailer marketplace, <span class="bold">always</span> at a discounted price.</stronger></h5>
      </div>
      <div class="row">
        <div class="col s3 offset-s2 center-align">
          <div class="col s9 button-fade how-it-works">
            <h5>How it Works</h5>
          </div>
        </div>
        <div class="col s3 center-align">
          <div class="col s9 button-fade wholesaler">
            <h5>Wholesalers</h5>
          </div>
        </div>
        <div class="col s3 center-align">
          <div class="col s9 button-fade retailer">
            <h5>Retailers</h5>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row no-margin col s12">
    <div class="how-it-works-div section-white center-align col s12" style="padding-top: 25vh">
      <div class="row">
        <h1><strong>How it Works</strong></h1>
      </div>
      <div class="row col s10 offset-s1">
        <div class="row">
          <h6>1) Wholesalers list their product with a sales goal, and a duration of the sale</h6>
          <h6>2) Retailers make purchase orders</h6>
          <h6>3) If the sales goal is reached by the end of the duration, the retailers get the product for the discount</h6>
          <h6>4) If the product does not reach the sales goal, nobody is obligated to pay.</h6>
        </div>
        <div class="row">
          <h5>Seem to good to be true? It's not</h5>
          <a href="/signup" class="btn">Sign Up Today</a>
        </div>
        <div class="row">
          <div class="col s6 center-align">
            <span class='wholesaler pointer'>Wholesalers</span>
          </div>
          <div class="col s6 center-align">
            <span class='retailer pointer'>Retailers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin col s12">
    <div class="retailers-div section-blue center-align col s12" style="padding-top: 25vh">
      <div class="row">
        <h1><strong>Retailers</strong></h1>
      </div>
      <div class="row col s10 offset-s1">
        <div class="row valign-wrapper">
          <div class="col s12 m4 valign">
            <div style="margin: 5px; padding: 10px">
              <h5>Unparalled Prices.</h5>
              <h6>
                Everybody has a discount. Guaranteed.
              </h6>
            </div>
          </div>
          <div class="col s12 m4 valign">
            <div style="margin: 5px; padding: 10px">
              <h5>Access Thousands of Products all in one Place.</h5>
              <h6>
                One signin, unlimited products and vendors.
              </h6>
            </div>
          </div>
          <div class="col s12 m4 valign">
            <div style="margin: 5px; padding: 10px">
              <h5>Automate Your Purchasing Power.</h5>
              <h6>
                Place a purchase order in one click.
              </h6>
            </div>
          </div>
        </div>
    </div>
      <a href="/signup" class="white btn black-text">Sign Up Today</a>
    </div>
  </div>
  <div class="row no-margin">
    <div class="wholesalers-div section-white center-align col s12" style="padding-top: 25vh">
      <div class="row">
        <div class="col s12">
          <h1><strong>Wholesalers</strong></h1>
        </div>
      </div>
      <div class="row col s10 offset-s1">
        <div class="row valign-wrapper">
          <div class="col s12 m4 valign">
            <h5>Reach a New Market</h5>
            <h6>
              BlueBird will put your product in front of retailers who are ready to purchase.
            </h6>
          </div>
          <div class="col s12 m4 valign">
            <h5>No More Tracking Down Payments</h5>
            <h6>
              You worry about perfecting your product,
              we'll put the money in your bank account.
            </h6>
          </div>
          <div class="col s12 m4 valign">
            <h5>Goodbye to sales reps.</h5>
            <h6>
              No more managing sales reps, let BlueBird handle it.
            </h6>
          </div>
        </div>
      </div>
      <a href="/signup" class="btn">Sign Up Today</a>
    </div>
  </div>
</div>

<script>
  // var height = $('.section-white').height()
  // var navHeight = $('.navigation').height()
  // $('#first-div').css({
  //   height: height - navHeight
  // })

  $(window).scroll(function(){
    console.log($(window).scrollTop());
    var scroll = $(window).scrollTop()
    $('.parallax-div').css({
      marginTop: (-scroll/2) + 50
    })
  })

  $('.how-it-works').click(function(){
    animateScrollTo($('.how-it-works-div'))
  })

  $('.wholesaler').click(function(){
    animateScrollTo($('.wholesalers-div'))
  })

  $('.retailer').click(function(){
    animateScrollTo($('.retailers-div'))
  })

  function animateScrollTo(div) {
    $('html, body').animate({
      scrollTop: div.offset().top
    }, 700)
  }
</script>
