
<%= render partial: 'partials/retailer_profile_nav' %>

<div class="col s12 m10">

  <% if current_user.shipping_addresses.length == 0 %>
    <div class="row center-align">
      <div class="col s12 m4 offset-m4">
        <%= form_tag('/api/create_shipping_address', method: :post) do %>
          <div class="input-field">
            <label>Street Address One</label>
            <input id="street-line-one" type="text" name="street_one">
          </div>
          <div class="input-field">
            <label>Street Address Two</label>
            <input id="street-line-two" type="text" name="street_two">
          </div>
          <div class="input-field">
            <label>City</label>
            <input id="city" type="text" name="city">
          </div>
          <div class="input-field">
            <label>State</label>
            <input id="state" type="text" name="state">
          </div>
          <div class="input-field">
            <label>Zip</label>
            <input id="zip" type="text" name="zip">
          </div>
          <div class="input-field">
            <label>Company Name</label>
            <input id="company" type="text" name="company">
          </div>
          <div class="input-field">
            <label>Phone Number</label>
            <input id="phone-number" type="number" name="phone">
          </div>
          <input id="submit-address" class="btn btn-primary" type="submit" value="Create Address">
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row left-align">
    <h4>Pending Orders</h4>
    <div id="products">
      <%= render partial: 'partials/products' %>
    </div>
  </div>

</div>

<script>
  $('#address-form').submit(function(e){
    e.preventDefault()
    var streetOne = $('#street-line-one').val()
    var streetTwo = $('#street-line-two').val()
    var city = $('#city').val()
    var state = $('#state').val()
    var zip = $('#zip').val()
    var company = $('#company').val()
    var phone = $('#phone-number').val()
    $.ajax({
      method: "POST",
      url: "/api/create_shipping_address?street_one=" + streetOne + "&street_two=" + streetTwo + "&city=" + city +
            "&state=" + state + "&zip=" + zip + "&company=" + company + "&phone=" + phone,
      success: function(data){
        console.log(data);
        saveShippingAddress(data.address.id)
      }
    })
  })

  function saveShippingAddress(addressId){
    $.ajax({
      method: "POST",
      url: "/api/save_shipping_id/" + addressId,
      success: function(data){
        console.log(data);
      }
    })
  }
</script>
