
<%= render partial: 'partials/retailer_profile_nav' %>

<div class="col s12 m8 offset-m3">
  <h1>$<%= current_user.retailer.total_savings %></h1>
  <div class="row left-align">
    <h4>Pending Orders</h4>
    <div id="products">
      <%= render partial: 'partials/products' %>
    </div>
  </div>

</div>
