<div class="row">

<%= render partial: 'partials/retailer_profile_nav' %>

  <div class="col s12 m8 offset-m3" style='margin-top: 35px'>

      <% if @products.any? %>
      <div id ="products">
        <%= render partial: 'partials/full_price_products' %>
      </div>
      <% else %>
        <div class="center-align">
          <h4>There are no products to display.</h4>
          <h5>When any of your purchase order does not reach the discounted price, you will get the opportunity to purchase them for normal wholesale price here.</h5>
        </div>
      <% end %>

    <%= will_paginate @products %>
  </div>

</div>

<script>
$(document).ready(function(){
  infiniteScroll()
})

function infiniteScroll(){
  if($('.pagination').length){
    // console.log('pagination present...');
    $(window).scroll(function(){
      var url = $('.pagination .next_page').attr('href')
      if(url && $(window).scrollTop() > $(document).height() - $(window).height() - 10) {
        $('.pagination').text("Loading...")
        // console.log('getting?');
        $.getScript(url)
      }
    })
  }
}
</script>
