<body id="landing-body">
  <div class="center-align">

    <div class="landing-header">
      <div class="row">
        <img src="/images/blue-bird.jpg" alt="" />
        <h2>Welcome to BlueBird.club!</h2>
        <h5>Where retailers get deals you dream about</h5>
        <h5>And wholesalers reach sales goals you couldn't believe</h5>
      </div>

      <div class="row">
        <h4 id="how-it-works">How it works</h4>
      </div>
    </div>

    <div class="landing-first-body">
      <h2>How it works...</h2>
    </div>

  </div>
</body>

<script>
  $('#how-it-works').click(function(){
    $(window).scrollTop($('.landing-header').height())
  })
</script>
