<body id="landing-body">
  <div class="center-align">

    <div class="landing-header">
      <div class="row">
        <img src="/images/bluebird-white-text.png" alt="" />
        <h5>Where retailers get deals you dream about</h5>
        <h5>And wholesalers reach sales goals you couldn't believe</h5>
      </div>

      <div class="row">
        <div class="col s4 offset-s4 center-align fill-button">
          <h4 id="how-it-works">How it works</h4>
        </div>
      </div>
    </div>

    <div class="landing-first-body">
      <div class="row">
        <h2>Retailers</h2>
      </div>
      <div class="row">
        <h5>All products listed on BlueBird are guaranteed to have some kind of discount</h5>
        <h5>Find a product you like, and make a purchase order with one click</h5>
        <h5>When the product reaches the end of it's sale, you will find out if it reached it's discount, if it hasn't you don't have to pay a dime!</h5>
        <%= link_to 'Sign Up', '/signup', :class => 'btn' %>
      </div>
      <div class="row">
        <h4 id="wholesaler-explained">How Wholesaling Works</h4>
      </div>
    </div>

    <div class="landing-second-body">
      <div class="row">
        <h2>Wholesalers</h2>
      </div>
      <div class="row">
        <h5>1) List a product for sale</h5>
        <h5>2) Set a duration to list the product for sale (7, 10, 14, or 30 days)</h5>
        <h5>3) Set a goal for a sales number to hit within that duration</h5>
        <h5>4) Set a discounted price for the product if (and only if) that product hits your sales goal</h5>
        <h5>5) Sit back and watch the sales come in!</h5>
      </div>
      <div class="row">
        <%= link_to 'Sign Up', '/signup', :id =>'wholesaler-btn', :class => 'btn' %>
      </div>
    </div>

  </div>
</body>

<script>
  $('#how-it-works').click(function(){
    animateScrollTo($('.landing-first-body'))
  })

  $('#wholesaler-explained').click(function(){
    animateScrollTo($('.landing-second-body'))
  })

  function animateScrollTo(div) {
    $('html, body').animate({
      scrollTop: div.offset().top
    }, 700)
  }
</script>
