
<%= render partial: 'partials/shop_header' %>

<div class="container center-align">
  <%= render partial: 'partials/products_header' %>
  <div id ="products">
    <%= render partial: 'partials/products' %>
  </div>

  <%= will_paginate @products %>
</div>
