<%= render partial: 'partials/retailer_profile_nav' %>

<div class="col s12 m8 offset-m3">
  <div class="row">
    <h4>Favorite Sellers <span style='font-size:10px'><a href="/retailer/favorites/manage">Manage</a></span></h4>
    <div id="products">
      <%= render partial: 'partials/products' %>
    </div>
  </div>

</div>
