<div class="row">

  <div class="row" style='margin-top: 25px'>
    <div class="col s12">
      <%= render partial: 'partials/company/company_bio' %>

      <div class="col s12 m8">
        <%= render partial: 'partials/products' %>
      </div>
    </div>
  </div>

</div>

<script>
  $('.about-company').click(function(){
    animateScrollTo($('.company-bio'))
  })

  function animateScrollTo(div) {
    $('html, body').animate({
      scrollTop: div.offset().top
    }, 700)
  }
</script>
