<div class="container valign-wrapper">
  <div class="row">
    <div class="col s4">
      <img src="/images/bluebird-blue-mascot.png" class='responsive-img' />
    </div>
    <div class="col s8">
      <h6>Hmm, looks like you found an error on our part.</h6>
      <h6>We'll be sure to fix this shortly, let's get back to <a href="/shop">shopping</a>.</h6>
    </div>
  </div>
</div>
