<div class="container">
  <div class="row valign-wrapper" style='margin-top: 50px'>
    <div class="col s4 center-block">
      <img src="/images/bluebird-blue-mascot.png" class='responsive-img' />
    </div>
    <div class="col s8 center-block center-align">
      <h6>Hmm, looks like you found an error on our part.</h6>
      <h6>We'll be sure to fix this shortly, let's get back to <a href="/shop">shopping</a>.</h6>
    </div>
  </div>
</div>
