<div class="container">
  <div class="row valign-wrapper">
    <div class="col s4 center-align center-block">
      <img src="/images/bluebird-blue-mascot.png" class='responsive-img' />
    </div>
    <div class="col s8 center-align center-block">
      <h6>Looks like you're in the wrong place, are you sure you meant to go here?.</h6>
      <h6>Perhaps you typed in a bad link, or we provided you a bad link.</h6>
      <h6>If so, we'll be sure to fix this shortly, let's get back to <a href="/shop">shopping</a>.</h6>
    </div>
  </div>
</div>
