<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <h5>NEW <%= @user.type.upcase %> APPLICATION</h5>
    <p>
      USER: <%= @user.full_name %> </br>
      EMAIL: <%= @user.email %> </br>
      COMPANY: <%= @user.company.company_name %>
    </p>

  </body>
</html>
