<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>Congrats <%= @user.first_name %>!</p>

    <div class="center-align">
      <div class="row">
        <p>
          <strong>You hit your discount!</strong> Your order of <%= @commit.amount %> <%= @product.title.pluralize %>
          reached its discounted price.
        </p>
      </div>
      <div class="row">
        <p>
          When <%= @product.wholesaler.user.company.company_name %> ships your order, we will send you your tracking information
          and transfer your funds from your account.
        </p>
      </div>
      <div class="row">
        <p>
          As always, feel free to reach out with any questions.
        </p>
      </div>
      <div class="row">
        <p>
          Your friends, <br>
          BlueBird.club
        </p>
      </div>
    </div>


  </body>
</html>
