/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize"

@font-face
  font-family: AsapBold
  src: url('/fonts/AsapBold.ttf')
  src: local('Raleway'), url('/fonts/AsapBold.ttf') format('embedded-opentype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

body
  color: black
  font-family: AsapBold

input
  color: black

.no-overflow
  overflow: hidden

.hidden
  display: none

.bold
  font-weight: 800

.no-bottom-margin
  margin-bottom: 0px

.submit-link
  background-color: transparent
  text-decoration: underline
  border: none
  color: blue
  cursor: pointer

.slide
  background: white

.slider-image
  height: 100% !important
  width: 50% !important

form
  .full-box-input
    border: 1px solid black
    border-bottom: 1px solid black !important
    background: white
    color: black !important
    border-radius: 5px
  .full-box-input:focus
    border-bottom: 1px solid black !important
    box-shadow: 0 0px 0 0 black !important

.loading-gif
  width: 2rem

.down-icon
  width: 3em
  height: 3em

.navigation
  height: 60px
  background: rgb(248, 248, 248)
  // background: white
  position: relative
  padding-bottom: 0px
  z-index: 10
  input
    border-bottom: 1px solid black
    height: 2.5rem
    border: 1px solid black
    border-radius: 10px
    background: white
  input:focus
    border-bottom: 1px solid black

@media only screen and (max-width: 880px)
  .nav-category
    font-size: 12px

@media only screen and (max-width: 800px)
  .nav-category
    font-size: 10px

.sub-nav-triangle
  position: absolute
  display: none
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-bottom: 15px solid rgb(54, 54, 54)
  z-index: 15

.sub-nav-container
  background: rgb(54, 54, 54)
  color: white
  z-index: 100
  position: absolute
  margin-bottom: 15px
  margin-top: 50px

.search-sub-nav-container
  background: white
  color: black
  display: none
  border-top: 1px solid rgb(225, 225, 225)
  border-bottom: 1px solid rgb(225, 225, 225)
  .input-field input
    border: none
    background: white
  .input-field input[type=text]:focus
    border-bottom: none
    box-shadow: none

.sub-nav-category
  display: inline-block
  height: 100%
  padding: 15px
  font-weight: normal
  font-size: 12px

.sub-nav-category:hover, .active-sub-nav-category
  border-bottom: 2px solid white

.sub-nav
  padding-top: 0px
  padding-bottom: 0px
  display: none
  // background: rgba(34, 34, 34, 0.86)
  color: white
  border-top: 1px solid black
  .nav-link
    color: white

.bluebird-text
  color: rgb(0, 186, 255)

.dark-bluebird-text
  color: rgb(0, 113, 189)

.btn
  background: rgb(0, 186, 255)

.link:hover
  text-decoration: underline

.active-nav-link
  // text-decoration: underline
  font-size: 115%
  color: rgb(0, 148, 255)

.active-sub-nav
  color: rgb(0, 148, 255)

.pointer
  cursor: pointer

.nav-category
  margin-left: 10px
  transition: .5s

.nav-category:hover
  text-decoration: underline
  cursor: pointer
  color: rgb(0, 148, 255)

.border
  border: 1px solid black

.no-padding
  padding: 0 0 0 0

.content-div
  padding-left: 7.5px
  padding-right: 7.5px

.no-margin
  margin: 0 0 0 0

.was-price
  color: rgb(157, 157, 157)
  text-decoration: line-through

.now-price
  color: rgb(17, 214, 0)

.active-nav
  background: rgb(26, 145, 189)

.nav-dropdown
  padding: 10px
  position: absolute
  margin-top: 100px
  // display: none
  z-index: 10
  background: white
  border: 1px solid black

.product
  border-radius: 10px
  border: 1px solid rgb(217, 217, 217)
  margin-left: 2em
  width: 80%
  background: white
  transition: .5s
  img
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  a
    text-decoration: none
    color: black
  .description
    height: 65px

.product:hover
  -webkit-box-shadow: 10px 10px 5px 0px rgba(194,194,194,1)
  -moz-box-shadow: 10px 10px 5px 0px rgba(194,194,194,1)
  box-shadow: 10px 10px 5px 0px rgba(194,194,194,1)

.percent-box
  background: rgba(0, 0, 0, .4)
  position: absolute
  border-radius: 10px

.bluebird-pick
  position: absolute
  right: 0

.meter
  height: 20px
  position: relative
  background: #555
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  border-radius: 25px
  padding: 10px
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3)

.meter
  span
    display: block
    height: 100%
    border-radius: 20px
    background-color: rgb(43,194,83)
    background-image: linear-gradient(center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69%)
    box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4)
    position: relative
    overflow: hidden

.animate span:after
  display: none

.meter span:after, .animate span span
  content: ""
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  // background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
  z-index: 1
  background-size: 50px 50px
  animation: move 2s linear infinite
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  overflow: hidden

.striped span:after, .animate span span
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)

@keyframes move
  0%
    background-position: 0 0
  100%
    background-position: 50px 50px

.meter span:after, .animate span span
  animation: move 2s linear infinite

.products-nav
  margin-top: 15px

.active-nav-box
  background: rgb(0, 186, 255)
  color: white
  border: 1px solid rgb(193, 193, 193)
  padding-top: 15px
  padding-bottom: 15px
  border-radius: 5px

.nav-box
  color: black
  border: 1px solid rgb(193, 193, 193)
  padding-top: 15px
  padding-bottom: 15px
  border-radius: 5px

.nav-box:hover
  color: white
  background: rgb(0, 186, 255)

.submitted-button
  background: url('/images/loading.gif')
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  padding: 5px
