// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alternate-image
  cursor: pointer

.progress-bar-outline
  border: 2px solid black
  height: 2em
  border-radius: 30%
  .progress-fill
    background: green
    height: 2em
    border-radius: 30%
