// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#status-bar
  height: 2em
  background: white
  margin-top: 1em
  padding: 0 0 0 0
  #batch-progress
    height: 100%
    margin: 0 0 0 0
    border-right: 1px solid black
    h5
      color: white
      margin: 0 0 0 0

#edit-order
  display: none

#product
  border-radius: 5px
  border: 2px solid black
  background: rgb(166, 166, 166)
