// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alternate-image
  cursor: pointer

.discover-div
  border: 1px solid lightgrey
  border-radius: 10px
  // padding: 15px
  height: 15vh

.discover-div:hover
  color: white
  background: rgb(0, 186, 255)
