// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Basic CSS */
#landing-body
  background: rgb(0, 186, 255)
  color: white

.landing-header
  height: 100vh

.landing-first-body
  height: 100vh
  background: white
  color: rgb(0, 186, 255)
  padding-top: 25px

.landing-second-body
  height: 100vh
  padding-top: 25px

#wholesaler-btn
  background: white
  color: rgb(0, 186, 255)

#how-it-works, #wholesaler-explained
  cursor: pointer

#first-div
  min-height: 60vh
  background: url('/images/packaging.jpg') no-repeat center center
  background-size: cover

.section
  min-height: 100vh

.section-blue
  min-height: 100vh
  background: rgb(0, 186, 255)
  margin: 0px
  color: white

.section-white
  background: rgb(251, 252, 254)
  color: black
  min-height: 100vh
  margin: 0px

.explained-div
  background: url('/images/piggy-background.jpeg') no-repeat center center
  background-size: cover

.circle-button
  border: 2px solid rgb(0, 186, 255)
  border-radius: 5px
  padding: 15px 75px 15px 75px
  color: rgb(0, 186, 255)
  font-size: 28px
  background: rgba(255, 255, 255, .8)
  transition: .3s

.circle-button:hover
  background: rgb(0, 186, 255)
  font-size: 30px
  color: white
  border: 2px solid white

.company-logo-banner
  height: 100%
  background-repeat: no-repeat !important
  background-size: cover !important
  padding-top: 100px
