// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Basic CSS */
#landing-body
  background: rgb(0, 186, 255)
  color: white

.landing-header
  height: 100vh

.landing-first-body
  height: 100vh
  background: white
  color: rgb(0, 186, 255)
  padding-top: 25px

.landing-second-body
  height: 100vh
  padding-top: 25px

#wholesaler-btn
  background: white
  color: rgb(0, 186, 255)

#how-it-works, #wholesaler-explained
  cursor: pointer

#first-div
  height: 100vh
  background: url('/images/retail-store.jpg') no-repeat center center fixed
  background-size: cover

.section
  height: 100vh

.section-blue
  height: 100vh
  background: rgb(0, 186, 255)
  margin: 0px
  color: white

.section-white
  background: rgb(251, 252, 254)
  color: black
  height: 100vh
  margin: 0px

.button-fade
  transition: all 0.4s ease 0s
  border-radius: 5px
  border: 1px solid lightgrey
  cursor: pointer

.button-fade:hover
  background: rgb(0, 186, 255)
  h5
    color: white
