// Place all the styles related to the wholesalers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-nav
  margin-left: 15px
  padding-left: 15px
  border-left: 1px solid black
  position: fixed
  li
    margin-top: 5px
    a
      text-decoration: none
    a:hover
      text-decoration: underline

.tooltipped
  cursor: pointer

.product-form-div
  background: rgb(245, 245, 245)
  padding: 40px
  margin: 25px

.new-product-form
  .input-fiel
    label
      color: black

.add-order-to-shipment
  transition: .3s
  cursor: pointer

.add-order-to-shipment:hover
  background: rgb(179, 255, 195)

.remove-order
  transition: .3s
  cursor: pointer

.remove-order:hover
  background: rgb(255, 166, 166)

.add-order-error-div
  padding: 5px
  position: fixed
  bottom: 0
  width: 100vw
  display: none
