<div class="row no-overflow no-bottom-margin">

  <div class="apply-body bluebird white-text center-align col s12 valign-wrapper" style='height: 60vh'>
    <div class="valign col s12">
      <div class="row col s8 offset-s2">
        <%= form_tag do |f| %>
          <% if !flash[:error].nil? %>
            <% flash[:error].each do |err, msg| %>
              <div class="row">
                <h6 class='red-text'><%= err %> <%= msg %></h6>
              </div>
            <% end %>
          <% end %>
          <input type="hidden" name="uuid" value="<%= params[:uuid] %>">
          <div class="row">
            <div class="col s6">
              <div class="input-field">
                <label>First Name</label>
                <input type="text" name="user[first_name]">
              </div>
            </div>
            <div class="col s6">
              <div class="input-field">
                <label>Last Name</label>
                <input type="text" name="user[last_name]">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <div class="input-field">
                <label>Email</label>
                <input type="text" name="user[email]">
              </div>
            </div>
            <div class="col s6">
              <div class="input-field">
                <label>Phone Number</label>
                <input type="text" name="user[phone_number]">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <div class="input-field">
                <label>Password</label>
                <input type="password" name="user[password]">
              </div>
            </div>
            <div class="col s6">
              <div class="input-field">
                <label>Confirm Password</label>
                <input type="password" name="user[password_confirmation]">
              </div>
            </div>
          </div>
          <input type="submit" value="Sign Up" class='white black-text btn'>
        <% end %>
      </div>
    </div>
  </div>

  <div class="apply-body col s12 hidden-on-small-only valign-wrapper" style='height: 40vh'>
    <div class="col s8 offset-s2 valign center-align">
      <div class="row">
        <h5>Reach sales goals you never thought possible</h5>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <img src="/images/target.jpg" class='responsive-img circle'/>
        </div>
      </div>
    </div>
  </div>

</div>
