
<div class="row col s12" style='position: fixed; top: 5px'>
  <div class="col s4 white-text center-align">
    <a href="/users">
      <img src="/images/bluebird-white-text.png" class='responsive-img' style='width: 80%' />
    </a>
      <h6 class='white-text'>Wholesaler?</h6>
      <a href="/apply/step1" class='btn-flat white-text waves-effect'>Sign Up Here</a>
  </div>
</div>

<div class="row no-overflow no-bottom-margin">
  <div class="apply-body bluebird white-text center-align col s12 valign-wrapper" style='height: 60vh'>

    <div class="valign col s12">
      <div class="row col s8 offset-s2">
        <h4>Retailer Signup</h4>
        <%= form_tag(method: 'POST') do %>
          <div class="input-field">
            <!-- <label>Company Name</label> -->
            <input type="text" name="company[company_name]" class='full-box-input' placeholder='Company Name' required>
          </div>
          <div class="input-field">
            <!-- <label>City</label> -->
            <input type="text" name="company[location]" class='full-box-input' placeholder='Location' required>
          </div>
        <%= submit_tag "Next", :class => 'white black-text submit-button btn' %>
        <!-- <input type="submit" value="Next" class='white black-text btn'> -->
      <% end %>
      <% if !flash[:error].nil? %>
        <% flash[:error].each do |err| %>
          <h6 class='red-text'><%= err %></h6>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="apply-body col s12 hidden-on-small-only valign-wrapper" style='height: 40vh'>
    <div class="col s8 offset-s2 valign center-align">
      <div class="row no-bottom-margin">
        <h5>Never pay full wholesale price again. Discounts. Every. Single. Time.</h5>
      </div>
      <div class="row">
        <div class="col s4 offset-s4 l2 offset-l5">
          <img src="/images/money.jpg" class='responsive-img circle'/>
        </div>
      </div>
    </div>
  </div>

</div>
