<html>
  <%= stylesheet_link_tag    'mailer', media: 'all' %>
  <body id="mail-body">

    <%= yield %>

    <div class="footer">
      <p>This email was intended for <%= @user.email %></p>
    </div>
  </body>
</html>
