<html>
  <%= stylesheet_link_tag    'mailer', media: 'all' %>
  <body id="mail-body">

    <%= yield %>

    <p class='closings'>
      Best, <br>
      Collin Schneider <br>
      Founder and CEO of BlueBird.club <br>
      (203) 598-4822
    </p>

    <div class="footer">
      <p>This email was intended for <%= @user.email %></p>
    </div>
  </body>
</html>
