<!DOCTYPE html>
<html class='no-overflow no-padding'>
<head>
  <title>BlueBird.club</title>
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="9lh3o5kbrFWSBA-EVoExbUbaOOt5J_LW2WM-D-zzOd4" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <div class="body-div no-overflow no-padding">
    <%= yield %>
  </div>

</body>
</html>
